{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - {{ chapter.title }}</title>
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
</head>

<body>
    <div class="navigation">
        <h2 class="navigation-title">Политика безопасности</h2>
        <ul class="navigation-list">
            {% for item in chapters %}
            <li class="navigation-item">
                <a class="{% if item.id == chapter.id %} navigation-link-current {% else %} navigation-link {% endif %}" href="{% url 'policy' item.id %}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="main-container">
        <div class="buttons-container">
            <button class="search-button">Поиск</button>
            <a class="login-button" href="{% if user.is_authenticated %} Выйти {% else %} {% url 'login' %} {% endif %}">{% if user.is_authenticated %} Выйти {% else %} Войти {% endif %}</a>
        </div>
        <h1 class="main-title">{{ chapter.id }}. {{ chapter.title }}</h1>
        {{ chapter.text|safe }}
    </div>
</body>

</html>